<footer>
    <link rel="stylesheet" type="text/css" href="footer.component.css">

    <div class="footer-container">
        <div class="text-block">
        <h4>HOME</h4>
        <h4>COMO FUNCIONA</h4>
        <h4>POR QUE FAZER TERAPIA?</h4>
        <h4>QUEM SOMOS NOS</h4>
        </div>
    
        <div class="text-block">
        <h4>LINKS RELACIONADOS</h4>
        <h4>CONSELHO FEDERAL DE PSICOLOGIA</h4>
        <h4>RESOLUCAO CFP 011/2018</h4>
        <h4>CODIGO DE ETICA DO PSICOLOGO</h4>

        </div>
    </div>

    <p>&copy; 2023 AOBEM - Todos os direitos reservados.</p>

</footer>